:root{
    /* Color */
    --white-color:#fff;
    --black-color:#000;
    --background-color:rgb(241, 241, 241);
    /* height */


}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul{
    padding-left: 0px;
    list-style: none;
}
a{
    text-decoration: none;
}

.margin-right-16{
    margin-right: 16px!important;
}

/* Pagination */

.pagination{
    
}